

<section id="about" class="about-animate">
    <h2 data-i18n="about.title">À propos de moi</h2> 

    <div class="about-description fade-in-up">
        <p data-i18n="about.paragraph">
        Étudiante en deuxième année de licence informatique à l’Université d’Avignon, je me passionne pour la création digitale,
        le développement web et l’UX/UI design.
        À travers ce portfolio, je vous invite à découvrir mon univers : mes compétences techniques, mes réalisations, ainsi que
        les domaines dans lesquels je peux intervenir.<br><br>
        Mon objectif : transformer des idées en projets concrets, esthétiques et fonctionnels, tout en continuant à progresser
        dans un domaine qui me motive chaque jour.
        </p>
    </div>

    <div class="about-cards cardfade-in-up">

        <div class="card">
            <h3 data-i18n="about.experiences.title">Expériences</h3>
            <ul>
                <li data-i18n="about.experiences.items.exp1">
                    Stage – Cabinet d'architecture Gilles (Carpentras)<br><br>
                    Rôle : Stagiaire.<br><br>
                    Contribution aux relevés de terrain, conception de plans et élaboration de dossiers de permis de
                    construire.
                </li>
                <li data-i18n="about.experiences.items.exp2">
                    Stage – Cabinet de géomètre Grimont (Carpentras)<br><br>
                    Rôle : Stagiaire.<br><br>
                    Aide au levé topographique, bornage de terrains et traitement de données sur logiciel de géomatique.
                </li>
                <li data-i18n="about.experiences.items.exp3">
                    Gestionnaire d’exploitation – Laboratoire pharmaceutique CERP.<br><br>
                    Rôle : Gestionnaire d’exploitation.<br><br>
                    Vérification des lots et des péremptions.
                    Réception et rangement des médicaments.
                </li>
            </ul>
        </div>

        <div class="card">
            <h3 data-i18n="about.education.title">Formations</h3>
            <ul>
                <li data-i18n="about.education.edu1">
                    Licence Informatique – Université d’Avignon (2023 – Présent)
                </li>
                <li data-i18n="about.education.edu2">
                    Baccalauréat Scientifique (2020–2023) – Lycée Jean Henri Fabre
                </li>
            </ul>
        </div>

        <div class="card">
            <h3 data-i18n="about.events.title">Réalisations / Événements</h3>
            <ul>
                <li data-i18n="about.events.event1">🎯 24h pour Coder – 4ᵉ place</li>
                <li data-i18n="about.events.event2">🎯 24h pour Entreprendre – Participation</li>
                <li data-i18n="about.events.event3">🏆 Concours de traduction Arabe-Français – 1ᵉʳ prix</li>
                <li data-i18n="about.events.event4">🏅 Concours Italien-Français – 3ᵉ prix</li>
                <li data-i18n="about.events.event5">✅ Certificat PIX – Compétences numériques</li>
            </ul>
        </div>

    </div>
</section>