<section id="contact">
    <h2 data-i18n="contact.title">Contact Me</h2>

    <div class="contact-info">
        <div class="phone-box">
            <i class="fas fa-phone-alt"></i>
            <span data-i18n="contact.phone">+33 6 04 10 21 56</span>
        </div>
        <div class="email-box">
            <i class="fas fa-envelope"></i>
            <span data-i18n="contact.email">malekghabi.education@gmail.com</span>
        </div>
    </div>

    <div class="contact-icons">
        <a href="https://linkedin.com/in/malek-ghabi-3b32672a9" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/malekghabi1607" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com/maleeeeke" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</section>