<section id="home">
    <div class="home-content">
        <div class="profile-img">
            <img src="assets/images/photo.jpg" alt="Malek GHABI" />
        </div>

        <div class="intro">
            <h1>
                <span class="hi-text typewriter" data-i18n="hi">Salut,</span><br>
                <strong class="name-text slide-in">Malek GHABI</strong>
            </h1>

            <p data-i18n="subtitle">Étudiant en informatique | Université d’Avignon</p>

            <div class="buttons">
                <button class="btn-hire" data-i18n="hireMe"
                    onclick="document.getElementById('contact-container').scrollIntoView({behavior: 'smooth'});">
                    Contactez-moi
                </button>

                <a href="assets/files/Malek_Ghabi_CV.pdf" target="_blank" download class="btn-cv"
                    data-i18n="downloadCV">
                    Télécharger le CV
                </a>
            </div>

            <div class="social-icons">
                <a href="https://github.com/malekghabi1607" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/malek-ghabi-3b32672a9" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/maleeeeke" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:malekghabi129@gmail.com"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</section>