<section id="home">
    <div class="home-content">
        <div class="profile-img">
            <img src="assets/images/photo.jpg" alt="Malek GHABI" />
        </div>

        <div class="intro">
            <h1>
                <span class="hi-text typewriter">Hi,</span><br>
                <strong class="name-text slide-in">Malek GHABI</strong>
            </h1>

            <p>Computer Science Student | University Of Avignon</p>

            <div class="buttons">
                <button class="btn-hire"
                    onclick="document.getElementById('contact-container').scrollIntoView({behavior: 'smooth'});">Hire Me</button>
            
                <a href="assets/files/Malek_Ghabi_CV.pdf" target="_blank" download class="btn-cv">Download CV</a>
            </div>


            <div class="social-icons">
                <a href="https://github.com/malekghabi1607" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/malek-ghabi-3b32672a9" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/maleeeeke" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto:malekghabi129@gmail.com"><i class="fas fa-envelope"></i></a>
            </div>

        </div>
    </div>
</section>