<section id="skills">
    <h2>Skills & Technologies</h2>
    <div class="skills-wrapper">

        <div class="skill-category">
            <h3>Frontend Dev</h3>
            <div class="icons">
                <img src="assets/icons/html.png" alt="HTML">
                <img src="assets/icons/javascript.png" alt="JavaScript">
                <img src="assets/icons/typescript.png" alt="TypeScript">
                <img src="assets/icons/php.png" alt="PHP">
                <img src="assets/icons/react.png" alt="React">
            </div>
        </div>

        <div class="skill-category">
            <h3>Backend Dev</h3>
            <div class="icons">
                <img src="assets/icons/c.png" alt="C">
                <img src="assets/icons/python.png" alt="Python">
                <img src="assets/icons/java.png" alt="Java">
                <img src="assets/icons/cpp.png" alt="C++">
                <img src="assets/icons/r.png" alt="R">
            </div>
        </div>

        <div class="skill-category">
            <h3>Database</h3>
            <div class="icons">
                <img src="assets/icons/sql.png" alt="SQL">
                <img src="assets/icons/firebase.png" alt="Firebase">
                <img src="assets/icons/mysql.png" alt="MySQL">
                <img src="assets/icons/postgresql.png" alt="PostgreSQL">
            </div>
        </div>

        <div class="skill-category">
            <h3>Tools</h3>
            <div class="icons">
                <img src="assets/icons/github.png" alt="GitHub">
                <img src="assets/icons/rstudio.png" alt="RStudio">
                <img src="assets/icons/git.png" alt="Git">
                <img src="assets/icons/figma.png" alt="Figma">
                <img src="assets/icons/intellij.png" alt="IntelliJ">
                <img src="assets/icons/eclipse.png" alt="Eclipse">


            </div>
        </div>

        <div class="skill-category">
            <h3>Platforms & IDEs</h3>
            <div class="icons">
                <img src="assets/icons/ubuntu.png" alt="Ubuntu">
                <img src="assets/icons/windows.png" alt="Windows">
                <img src="assets/icons/vscode.png" alt="VS Code">
                <img src="assets/icons/wordpress.png" alt="WordPress">
                <img src="assets/icons/virtualbox.png" alt="VirtualBox">
            </div>
        </div>

    </div>
</section>